manifest {
   mainScript = 'main.nf'
}

trace {
   enabled = true
   file = '_trace_RS1_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action' 
}

report {
   enabled = true
   file = '_report_RS1_D1_star_droso.html'
}

timeline {
   enabled = true
   file = '_timeline_RS1_D1_star_droso'
}

dag {
   enabled = true
   file = '_dag_RS1_D1_star_droso.html'
}


params {
	strand = 'unstranded'
	outdir = 'results'
	csv_input = './input.csv'
	genome = '/home/simon/input/hg19.fa'
	transcripts_fasta = '/home/simon/input/hg19.fa'
	genome = '/home/simon/input/hg19.fa'
	annotation_gtf = '/home/simon/input/ref-transcripts.gtf'
	annotation_gtf = '/home/simon/input/ref-transcripts.gtf'
	genome = '/home/simon/input/hg19.fa'
	annotation_gtf = '/home/simon/input/ref-transcripts.gtf'
	annotation_gtf = '/home/simon/input/ref-transcripts.gtf'
	csv_contrastsheet = '/home/simon/input/hg19.fa'
	alignment_quality = 'high'
	n_dexseq_plot = 5
	min_samps_gene_expr = 10
	min_samps_feature_expr = 10
	min_samps_feature_prop = 10
	min_feature_expr = 10
	min_feature_prop = 10
	min_gene_expr = 10
	threads = 16
	basedir = '/home/ninon/description_prototype/v1/generated_workflow'
}
